<!DOCTYPE html>
<html>
	<head>
	<title><%=title%></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ../partial/head %>
        <script src="https://code.highcharts.com/highcharts.js"></script>
	</head>
	<body>
		<div id="wrapper">
             <% include ../partial/header %>
             <% include ../partial/MainMenu %>
             <!--Serach functionlaity -->
            <form id="frmBDE" method="get">                      
        <div >
            <div class="row">
       
          <div class="col-md-3">
         
           Search By:  <select id="Bde" name="Bde" class="form-control">
            <option value="EMP/101" selected>Athira</option>
                <option value="EMP/105">Sooraj</option>
                 <option value="EMP/106">Swapna</option>
        </select>
        </div> 
                
        <div class="col-md-2" id="ddlAccountType">
         Year:<select id="yearr" name="yearr" class="form-control">
               <option value="">select</option>
               <option value="2010">2010</option>
               <option value="2011">2011</option>
               <option value="2012">2012</option>
               <option value="2013">2013</option>
               <option value="2014">2014</option>
               <option value="2015">2015</option>
               <option value="2016">2016</option>
               <option value="2017">2017</option>         
         </select>                                              
        </div>   
                
                       
<div class="input-group-btn">
<button class="btn btn-default" type="button" id="btnLeadsearch">
Graph Analysis</button>
</div>
    </div>
    </div>
                                       
    
<!--Search functionality end-->
            <section id="container">
	<span class="cap">BDE Analysis</span>
    <hr class="hrStyle">          
  <table class="table table-striped" id="tbl">
    <thead>
      <tr>
        <th>Account Name</th>
        <th>Lead Source</th>
        <th>Status</th>
        <th>Industry</th>
        <th>No of Opportunities</th>
      </tr>
    </thead>
    <tbody>
    

       
    </tbody>
  </table>
<div id="chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </section>
                </form> 
  <% include ../partial/footer %>


        </div>
        	</body>
</html>