<!DOCTYPE html>
<html>
	<head>
		<title>Firstsource</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
         <% include ../partial/HomeHeader %>
		<script type="text/javascript">

    var myCenter = new google.maps.LatLng(10.3450679, 76.20926199999997);

function initialize() {
var mapProp = {
center:myCenter,
zoom:12,
scrollwheel:false,
draggable:false,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
position:myCenter,
});

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	</head>
	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#contact">CONTACT</a></li>
		<li><a  href="/login">LOGIN</a></li>
      </ul>
    </div>
  </div>
</nav>
		<div class="jumbotron text-center">
			<h1>Firstsource Solutions</h1>
				</div>
				<div id="about" style="padding-top:50px" class="conatainer-fluid">
					<div class="row">
						<div class="col-sm-8">
                            <font color="#000000"><h2>About Us</h2></font>
                            <ul>
                                <font color="#000000"><li><h4>Improving Customer experience</h4></li></font>
                                <font color="#000000"><li><h4>Business Transformation</h4></li></font>
                            <font color="#000000"><li><h4>Maximizing Revenue</h4></li></font>
                            <font color="#000000"><li><h4>Cost Optimisation</h4></li></font>
                            </ul>
							<button class="btn btn-2 btn-2g">Get in Touch</button>
						</div>
						<div class="col-sm-4">
							<span class="glyphicon glyphicon-signal logo"></span>
						</div>
					</div>
				</div>	
				<div class="container-fluid ">
					<div class="row">
						<div class="col-sm-4" style="padding-top:100px;">
							<span class="glyphicon glyphicon-globe logo">
							</span>
						</div>
						<div class="col-sm-8" style="padding-top:140px; padding-left:70px" >
					<h2>Our Values</h2>
					<h4> Missions-Our Mission lorem ipsium..</h4>
					<p><strong>vision</strong>Our vision lorem ipsium..</p>
						</div>
				</div>
		</div>
				<div id="services" style="padding-top:50px" class="container-fluid text-center">
					<h2>Our Services</h2>
					<h4>What we offer</h4>
					<br>
					<div class="row">
						<div class="col-sm-4">
							<span class="glyphicon glyphicon-off logo-small"></span>
								<h4>Power</h4>
								<p>Lorem ipsium</p>
						</div>
						<div class="col-sm-4">
							<span class="glyphicon glyphicon-heart logo-small"></span>
								<h4>Love</h4>
								<p>Lorem ipsum</p>
						</div>
						<div class="col-sm-4">
							<span class="glyphicon glyphicon-lock logo-small"></span>
								<h4>Job done</h4>
								<p>Lorem ipsum</p>
						</div>
					</div><br><br>
					<div class="row">
						<div class="col-sm-4">
							<span class="glyphicon glyphicon-leaf logo-small"></span>
							<h4>Green</h4>
							<p>Lorem ipsum</p>
						</div>
						<div class="col-sm-4">
							<span class="glyphicon glyphicon-certificate logo-small"></span>
							<h4>Certified</h4>
							<p>Lorem ipsum</p>
						</div>
						<div class="col-sm-4">
							<span class="glyphicon glyphicon-wrench logo-small"></span>
							<h4>Hard Work</h4>
							<p>Lorem ipsum</p>
						</div>
					</div>	
				</div>
				
				<div id="portfolio" style="padding-top:50px" class="container-fluid text-center">
  <h2>Portfolio</h2>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/images/paris.jpeg" alt="Paris">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/images/newyork.jpeg" alt="New York">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/images/sanfransisco.jpeg" alt="San Francisco">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
</div>
 <h2>What our customers say</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
    </div>
    <div class="item">
      <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
    </div>
    <div class="item">
      <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container-fluid">
  <div id="pricing" style="padding-top:50px" class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$49</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div id="contact"style="padding-top:50px" class="container-fluid">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Irinjalakuda,Thrissur</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> geethugopi33@gmail.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
         <button class="btn btn-default pull-right" type="submit">Send</button>
 

  
		  
        </div>
      </div>
    </div>
  </div>
</div>



<div id="googleMap" style="height:400px;width:100%;"></div>

 

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p id="footr">Bootstrap Theme Made By <a href="http://www.google.com" title="Visit google">www.google.com</a></p>
</footer>
</div>
      
	</body>
</html>